@import "bourbon";
@import "normalize";
@import "variables";
@import "functions";

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Gentium Basic', serif;;
	font-size: 12pt;
	line-height: 1.4;
	width: 40em;
	margin: 0 auto;
}

ul, ol, li {
	padding: 0;
	margin: 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
}

header ul {
	list-style-type: none;
	background: silver;
	margin: 0 auto;
}

header ul li {
	display: inline-block;
}

header ul li a {
	line-height: 40px;
	padding: 0 10px 0 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	margin: 0;
}

h1 {
	font-weight: 300;
	font-size: 32pt;
	margin-bottom: 1em;
}

h2 {
	clear: both;
	margin-bottom: 1em;
	font-size: 18pt;
}

p.last-p:after {
	content: "â‚";
	margin: 1em auto 2em auto;
	display: block;
	font-size: 18pt;
	width: 100%;
	text-align: center;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.4);
}

h3 {
	margin-top: 2em;
	margin-bottom: .75em;
	font-size: 16pt;
}

h4 {
	font-size: 14pt;
	margin-top: 2em;
	margin-bottom: .75em;
}

h5 {
	margin-top: 2em;
	margin-bottom: 1em;
	font-size: 11pt;
}

h6 {
	margin-top: 2em;
	margin-bottom: 1em;
	font-size: 10pt;
}

p {
	margin: 0 0 1em 0;
}

a {
	text-decoration: none;
	color: black;
}

figure {
	width: 50%;
	float: right;
	margin: 0 0 1em 1em;
}

figure img {
	width: 100%;
	height: auto;
	display: block;
}

figcaption {
	padding-top: .5em;
	text-align: left;
	font-size: 10pt;
	word-wrap: break-word;
}

#toc {
	list-style-type: none;
}

#toc ol {
	padding-left: 0;
	list-style-type: none;
	width: 100%;
	box-sizing: border-box;
	border-left: 1px rgba(0, 0, 0, .2) solid;
}

#toc li {
	margin-left: 5mm;
	margin-bottom: .125em;
}

#toc > li {
	font-weight: bold;
	margin-left: 0;
	margin-bottom: .25em;
}

#toc > li li {
	font-weight: normal;
}

.footnote {
	margin-left: .125em;
	font-size: 9pt;
	vertical-align: top;
}